.latestPosts {
	margin-top: 140px;
	margin-bottom: 140px;

	.latestPosts__intro {
		margin-bottom: 100px;
	}

	.latestPosts__list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 40px;
		align-items: center;
		justify-content: space-between;
	}
}

@media (max-width: 768px) {
	.latestPosts__list {
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

@media (max-width: 480px) {
}
